dataset/*
outputs/*
.csv
.tex
.pdf
.png
.jpg
.jpeg
.gif
.bmp
.tiff
.ico

*.pyc
*.csv
.github

.venv/
venv/
benchmarks/agentic_planner/eval/
benchmarks/agentic_planner/results/
data/*/*
third_party
outputs
synch.sh
*.log
